.cv-card {
  transition: 0.3s;
  width: 100%;
  border-radius: 5px;
  border: #2ecc71 solid 2px;
  /*padding-bottom: 10px;*/
  padding: 0;
  margin: 10px;
  /*border-color: #2ecc71;*/
}

.cv-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}